:root {
    /* Color */
    --COLOR-RED-LIGHT: #e24434;
    --COLOR-RED: #EF272F;
    --COLOR-RED-DARK: #82180d;

    --COLOR-BLUE-LIGHT: #41a3fc;
    --COLOR-BLUE: #0154A1;
    --COLOR-BLUE-DARK: #031533;

    --COLOR-GRAY-LIGHT : #edf2f6;

    --COLOR-YELLOW: #FADA0C;

    /* Dimension */
    --HEADER-HEIGHT : 70px;
    --LEFT-WIDTH: 200px;
}

/** {
    word-break: keep-all !important;
    overflow-wrap: break-word;
}*/

.break-all {
    word-break: break-all !important;
}

html,body.jpn-main{
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width:100%;
}

body.jpn-main {
    background: var(--COLOR-GRAY-LIGHT);
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}

.jpn-header, .jpn-footer{
    /* to prevent padding go more than 100% width */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.jpn-header {
    height: var(--HEADER-HEIGHT);
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 2;
    text-align: left;
    align-items: center;
    display: flex;
    padding: 0 10px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.5); 
}

.jpn-bar-content{
    padding-top: var(--HEADER-HEIGHT);
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

.jpn-left-bar {
    width:var(--LEFT-WIDTH);
    background-color: var(--COLOR-BLUE);
    min-height: 100%;
    padding-top: 5px;
    z-index: 1;
}

.jpn-content{
    background: var(--COLOR-GRAY-LIGHT);
    padding: 10px;
    min-height: 80vh;
    width: 100%;
}

.jpn-footer {
    padding: 10px;
    background: var(--COLOR-BLUE-DARK);
    color:white;
    min-height:100px;
}

/*
@media only screen and (min-width: 1000px) {
    .primary-layout.landing-page {
        header {
            padding: 0 111px;
        }
    }
}

@media only screen and (max-width: $LAYOUT_MD) {
    header,
    .content,
    footer {
        padding-left: $LEFTBAR_MD_WIDTH;
    }
    left_bar {
        width: $LEFTBAR_MD_WIDTH;
    }
    .content {
        flex-flow: column;
        .main {
            padding: 15px;
            flex: 1;
        }
        right_bar {
            flex: 1;
            min-height: 100px;
            min-width: 100%;
        }
    }
}



@media only screen and (max-width: $LAYOUT_SM) {
    header,
    .content,
    footer {
        padding-left: 0;
    } //hide left bar and position it under header bar
    left_bar {
        width: 100%;
        height: $LEFTBAR_SM_HEIGHT;
        top: var(--HEADER-HEIGHT);
        z-index: 2;
        display: flex;
        align-items: center;
    }
    .content {
        padding-top: $HEADER_HEIGHT + $LEFTBAR_SM_HEIGHT;
        .main {
            padding: 10px;
        }
    }

}
*/