.jpn-left-bar ul.navi-list{
    color:white;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 14px;
    font-size: 14px;
}

.jpn-left-bar{
    overflow-x: scroll;
    overflow-y: scroll;
}

.jpn-left-bar .li-item{
    display: flex;
    white-space: nowrap;
}

.jpn-left-bar .expand{
    cursor: pointer;
}

.jpn-left-bar .expand:hover{
    opacity: 0.8;
}

.jpn-left-bar .link{
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

.jpn-left-bar .link:hover{
    text-decoration: underline;
}


/* ############################ */
/* 1st level parent only */

.jpn-left-bar ul.parent{
    padding: 5px;
    padding-left: 10px;
    border-bottom: rgba(255,255,255,0.5) solid 1px;
}

.jpn-left-bar ul.parent:last-of-type{
    border-bottom: none;
}

.jpn-left-bar ul.navi-list.parent{
    font-weight: bold;
}

.jpn-left-bar ul.navi-list{
    font-weight: normal;
}