@import '_constant.scss';
.jpn-left-bar {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 100vh;
    resize: horizontal;
    ul.navi-list {
        color: white;
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 14px;
        font-size: 14px;
    }
    ul.navi-list:last-of-type {
        padding-bottom: 10px;
    }
    .li-item {
        display: flex;
        white-space: nowrap;
    }
    .expand {
        cursor: pointer;
    }
    .expand:hover {
        opacity: 0.8;
    }
    .link {
        display: inline-block;
        padding-right: 10px;
        cursor: pointer;
    }
    .link:hover {
        text-decoration: underline;
    }
    /* ############################ */
    /* 1st level parent only */
    ul.parent {
        padding: 5px;
        padding-left: 7px;
        border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    }
    ul.parent:last-of-type {
        border-bottom: none;
    }
    ul.navi-list.parent {
        font-weight: bold;
    }
    ul.navi-list {
        font-weight: normal;
    }
}
