<div class="jpn-content">
    <div class="content-body" hidden="hidden">
    </div>
    <div class="content-load">
        <i class='fa fa-spinner fa-pulse fa-3x'></i>
        <br> Loading Page..
    </div>
</div>

<script>
    $(document).ready(function () {
        var page = Util._GET("page");
        var body = $(".jpn-content .content-body");
        var load = $(".jpn-content .content-load");

        //return;
        var file = SITE_ROOT + "/page/" + page + ".html?v=" + HTML_VER;
        $.get(file, function (data) {
            finishLoad(data);
        }).fail(function (err) {
            finishLoad(err.responseText);
        });

        function commentStyle(data) {
            //comment out styling
            data = data.replace("<style>", "<style>/*");
            data = data.replace("</style>", "*/</style>");
            return data;
        }
        
        function finishLoad(data) {
            data = commentStyle(data);
            body.html(data);
            body.show();
            load.hide();
        }
    });
</script>