<div class="jpn-header">
    <div class="h-left">
        <img class="logo" src="/test-e/asset/image/jpn-logo-sm.jpg" style="height: 80px; margin:0 10px;"/>
        <div class="detail">
            <div class="title">
                Transformasi Sistem JPN
            </div>
            <div class="subtitle">
                Melangkah Ke Era TN50
            </div>
        </div>
    </div>
    <div class="h-right">
        <i>Selamat Bertugas,</i><br>
        <b>Muhammad Abdullah</b><br>
        <small>April 12, 2018 | 11:50 AM</small>
    </div>
</div>