<div class="jpn-left-bar">
    <!-- <div id="left-bar-resizer"></div> -->
</div>


<ul hidden="hidden" id="list-template" class="navi-list">
    <li class="li-item">
        <div class="expand"></div>
        <div class="link">Level 1</div>
        <!-- to add more navi-list here of have children -->
    </li>
</ul>

<script>

    var JpnNavi = function (id, label, url, children = null, isParent = false) {
        this.id = id;
        this.label = label;
        this.url = url;
        this.isParent = isParent;
        this.children = children;
    };

    JpnNavi.prototype.renderList = function (template) {
        var el = template.clone(true, true);
        el.removeAttr("hidden");
        var expand = el.find(".expand");
        var link = el.find(".link");
        link.html(this.label);

        if (this.isParent) {
            el.addClass("parent");
        }

        // has children
        if (this.children !== null) {
            var childs = $("<div class='children'></div>");
            for (var i in this.children) {
                var c = this.children[i];
                var c_el = c.renderList(template);
                childs.append(c_el);
            }
            el.append(childs);
            expand.html(this.getArrow("down"));

        }
        // no children
        else {
            expand.css("padding-left", "16px");
            expand.removeClass("expand");
        }
        return el;
    };

    JpnNavi.prototype.getArrow = function (type) {
        return "<i class='fa fa-chevron-circle-" + type + " left sm'></i>";
    };

    $(document).ready(function () {

        // #######################################
        var parent = $(".jpn-left-bar");
        var resizer = parent.find("#left-bar-resizer");
        var content = $(".jpn-content");

        var template = $("#list-template");
        var JPNNavi = new JpnNavi();

        function renderNavis(navis, template) {
            for (var i in navis) {
                var n = navis[i];
                var el = n.renderList(template);
                parent.append(el);
            }
        }

        function addEventListener() {
            var expands = parent.find(".expand");
            expands.click(function () {
                var e = $(this);
                var par = e.parent().parent();
                var child = $(par.find(".children")[0]);

                if (typeof child.attr("hidden") === "undefined") {
                    child.attr("hidden", "hidden");
                    e.html(JPNNavi.getArrow("right"));
                } else {
                    child.removeAttr("hidden");
                    e.html(JPNNavi.getArrow("down"));
                }
            });
        }

        function createJpnNavi(d) {
            var children = null;
            if (d.children !== null && Array.isArray(d.children)) {
                children = d.children.map((_d, _i) => {
                    return createJpnNavi(_d);
                })
            }
            return new JpnNavi(d.id, d.label, d.url, children, d.isParent);
        }

        function getData(url, success) {
            // #########################################
            // prepare data
            var ERR_MES = "Failed to get navigation list.<br>";
            $.get(url, function (data) {
                try {
                    data = JSON.parse(data);
                    navis = data.map((d, i) => {
                        return createJpnNavi(d);
                    });
                    success(navis);
                    return navis;

                } catch (err) {
                    parent.html(ERR_MES + err);
                    return false;
                }
            }).fail(function (err) {
                parent.html(ERR_MES + err);
                return false;
            });
        }


        function registerResizer() {

            function doResizing(leftWidth) {
                if (content.length <= 0) {
                    content = $(".jpn-content");
                }

                parent.css("width", "" + leftWidth + "px");
                content.css("padding-left", "" + leftWidth + "px");
                resizer.css("left", "" + leftWidth + "px");
            }

            resizer.mousedown(function (ev) {
                intervalSizing = setInterval(function () {
                    console.log(window.event.clientX);
                }, 100);

                // var cur = resizer.css("left");
                // cur = Number.parseInt(cur.replace("px", ""));
                // console.log(cur);
              
                //doResizing(ev.pageX);

            });

            var intervalSizing = null;
            resizer.mouseup(function (ev) {
                if (intervalSizing !== null) {
                    clearInterval(intervalSizing);
                }
            });

        }



        function Main() {
            registerResizer();
            getData(SITE_ROOT + "/dataset/navigation.json", function (navis) {
                renderNavis(navis, template);
                renderNavis(navis, template);
                addEventListener();
            });
        }


        Main();
    });



            /*
            n = new JpnNavi("Level 3", "", [
                new JpnNavi("Level 3 - Child 1", ""),
                new JpnNavi("Level 3 - Child 2", "", [
                    new JpnNavi("Level 3 - Child 2 Child 1", "", [
                        new JpnNavi("Level 3 - GrandChildren 2 Child 1", ""),
                        new JpnNavi("Level 3 - GrandChildren 2 Child 1", "")
                    ]),
                    new JpnNavi("Level 3 - Child 2 Child 2", "")
                ]),
                new JpnNavi("Level 3 - Child 3", "")
            ], true);
            navis.push(n);
            */


</script>