<div class="jpn-left-bar">
    <ul class="navi-list parent">
        <li><i class="fas fa-adjust"></i>Level 12
            <ul class="navi-list">
                <li>Level 2</li>
            </ul>
        </li>
    </ul>
    <ul class="navi-list parent">
        <li>Level 1
            <ul class="navi-list">
                <li>Level 2</li>
            </ul>
        </li>
    </ul>
    <ul class="navi-list parent">
        <li>Level 1
            <ul class="navi-list">
                <li>Level 2</li>
            </ul>
        </li>
    </ul>
</div>